<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Medikals</title>
</head>
<body>
<aside>
    <figure>
        <div id="avatar"></div>
        <figcaption><%= `${user.firstname} ${user.lastname}` %> </figcaption>
    </figure>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/authed/aboutPage">About</a></li>
            <li><a href="/authed/uploadPage">Upload</a></li>
            <li><a href="/authed/searchPage">Search</a></li>
        </ul>
    </nav>
</aside>
<main>
    <div class="medikals-header-container">
        <h3>Medikals </h3><img src="/images/Medikals.jpg" alt="Logo">
    </div>
    <h2 class="about">Medikals's mission</h2>
    <p>
        Medikals's goal is to provide medical authorities the tools they need to make the next leap in patient
        care.</br>
        The demand for medical imaging services is continuously increasing, outpacing the supply of qualified
        radiologists and stretching them to produce more output,
        without compromising patient care.</br>
        We provide a new technology that enhances the capabilities of radiologists.</br>
        With Medikals, any health provider could get initial diagnosis without the presence of radiologist.
    </p>
</main>
</body>
</html>