<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/search.css">
    <title>Medikals</title>
</head>

<body>
<aside>
    <figure>
        <div id="avatar"></div>
        <figcaption><%=`${user.firstname} ${user.lastname}`%> </figcaption>
    </figure>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/authed/aboutPage">About</a></li>
            <li><a href="/authed/uploadPage">Upload</a></li>
            <li><a href="/authed/searchPage">Search</a></li>
        </ul>
    </nav>
</aside>
<main>
    <div class="medikals-header-container">
        <h3>Medikals </h3><img src="/images/Medikals.jpg" alt="Logo">
    </div>
    <div>
        <div class="search-header">Please enter patients ID</div>
        <input type="number" id="scan-id-number" placeholder="Patient ID" class="patient-id-input"/>
        <input class="buttons-class" id="search-button" type="button" value="Search" onclick="searchScans()">
        <div id="results-message" class="results-message"></div>
    </div>
    <div id="results-container" class="results-container">

    </div>

</main>
</body>

</html>

<script type="text/javascript">
    const scanIdNumber = document.getElementById("scan-id-number");
    const resultsContainer = document.getElementById("results-container");
    const resultsMessage = document.getElementById("results-message");

    function searchScans() {
        fetch('/authed/getScans',
            {
                method: 'post',
                body: JSON.stringify({
                    patientId: scanIdNumber.value
                }),
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                showResults(data);

            });
    }

    function showResults(data) {
        resultsContainer.innerHTML = '';
        if (data.length === 0) {
            resultsMessage.innerText = 'No results for this ID...';

        } else {
            resultsMessage.innerText = `Found results for ${data[0].firstName} ${data[0].lastName}:`;
            addResultsHeader();
            data.forEach(createResultElem)
        }


    }

    function addResultsHeader() {
        let mainDiv = document.createElement('div');
        mainDiv.classList.add('result');
        mainDiv.innerHTML = `        <div class="result-field result-header">Scan Date:</div>
            <div class="result-field result-header">System Diagnosis:</div>
            <div class="result-field result-header">Final Diagnosis:</div>
            <div class="result-field result-header">Click To Review:</div>`;

        resultsContainer.append(mainDiv);
    }

    function createResultElem(result, index) {
        let mainDiv = document.createElement('div');
        mainDiv.classList.add('result');
        mainDiv.innerHTML = `        <div class="result-field">${result.date}</div>
            <div class="result-field">${diagnosisFormat(result.systemDiagnosis)}</div>
            <div class="result-field">${diagnosisFormat(result.finalDiagnosis)}</div>
            <div class="result-field"><a href="/authed/reviewDiagnosis/${result.scanId}">Review</a></div>`;
        setTimeout(() =>
                resultsContainer.append(mainDiv)
            , index * 50);
    }

    function diagnosisFormat(diagnosis) {
        return diagnosis || 'none';
    }
</script>